.login-admin {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(0, 36, 36);
  background: linear-gradient(
    90deg,
    rgba(0, 36, 36, 1) 0%,
    rgba(0, 255, 255, 1) 79%,
    rgba(0, 212, 255, 1) 100%
  );

  &__content {
    background-color: azure;
    padding: 50px 50px;
    border-radius: 20px;
    width: 500px;
    box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    -moz-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    
    > h1 {
      font-size: 35px;
      text-align: center;
      margin-bottom: 50px;
    }

  }
}
