.add-order-form-admin {
  &__list {
    margin-top: 20px;
    max-height: 400px !important;
    overflow-y: auto;

    &-product {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;

      .ui.image {
        margin-right: 20px !important;
      }

      span {
        font-size: 15px;
        font-weight: bold;
      }
    }
  }

  .ui.primary.button {
    margin-top: 50px;
  }
}
